@import "@/shared/styles/mixins.pcss";
@import "@/shared/styles/media.pcss";

.content {
  flex-grow: 1;
  padding-top: var(--header-height);
  padding-bottom: 40px;

  @media (--mobile) {
    padding-bottom: 20px;
  }
}