@import "@/shared/styles/mixins.pcss";
@import "@/shared/styles/media.pcss";

.news {
    padding-top: 40px;
    height: 100%;

    &__inner {
        display: flex;
        justify-content: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        max-width: 600px;
     }
}