@import "@/shared/styles/mixins.pcss";
@import "@/shared/styles/media.pcss";

.edit-article {
    padding-top: 40px;

    @media (--mobile) {
        padding-top: 30px;
    }

    @media (--mobile-xs) {
        padding-top: 20px;
    }
}